COMPOSE_PROJECT_NAME=microservices-assignment
ENVIRONMENT=development

# Service Ports
SERVICE_DISCOVERY_PORT=
GATEWAY_PORT=
ORDER_SERVICE_PORT=
PAYMENT_SERVICE_PORT=
DELIVERY_SERVICE_PORT=
TASK_SERVICE_PORT=
MENU_SERVICE_PORT=

# Eureka
EUREKA_HOST=
EUREKA_PORT=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# MySQL root
MYSQL_ROOT_PASSWORD=

# Order DB
MYSQL_ORDER_PORT=
ORDER_DB_HOST=
ORDER_DB_PORT=
ORDER_DB_NAME=
ORDER_DB_USER=
ORDER_DB_PASSWORD=

# Payment DB
MYSQL_PAYMENT_PORT=
PAYMENT_DB_HOST=
PAYMENT_DB_PORT=
PAYMENT_DB_NAME=
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=

# Delivery DB
MYSQL_DELIVERY_PORT=
DELIVERY_DB_HOST=
DELIVERY_DB_PORT=
DELIVERY_DB_NAME=
DELIVERY_DB_USER=
DELIVERY_DB_PASSWORD=



